body{
  background-color: rgb(188, 215, 242);
}
.header {
    border-style: groove;
    padding: 5px;
    
}
.fab {
  color: blue;
  size: 10px;
}
.fa-twitter{
  color:rgb(25, 190, 219)
}
.fa-google-plus-g{
  color:rgb(241, 11, 11);
}

section{
  text-align: center;
}
#courses{
  font-size: x-large;
  color: red;
}


#clgname{
  font-size: xx-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0;
  margin-top: 20px;
  color: rgb(101, 29, 129);
}

ul{
    list-style-type: none;
    background-color: blue;
    display:flex;
    justify-content: space-around;
    overflow: hidden;
    
    }
   
li{
  
  margin: 10px;
}

li a{
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding :0 10px;

}
li :hover{
  text-decoration: underline;
}
li:visited{
  color: brown;
}
dd{
  margin-right: 40px;
}
.about p{
  font-size: 25px;
  text-indent: 80px;
}

.login,form{
  display: block;
 
  margin: 50px 25% 50px 25%;
  width:50%;
  
  border:2px solid rgb(202, 189, 189);
  border-radius: 8px;
  padding:10px;
  background-color: rgb(182, 240, 240,0.4);
 
   
}
form >p, .login a{
  text-align: center;
 
}
button,.login p{
  margin: 10px 30%;
}
.login p{
  width: 120px;
}
button , form button{
  
  color:white;
  background-color: blue;
  border-radius: 5px;
  padding: 5px 35px;
  margin-left: 80px;
  width: 140px;
  
}
button:hover{
  box-shadow: 5px 10px 15px blue;
  font-size: large;
  text-align: center;
}
#back{
  margin: 10px 45%;
}

input{
  padding: 10px;
  border-radius: 6px;
  border-style: none;
  margin:10px;
  
  
}

table{
  margin-left: auto;
  margin-right: auto;
}
