body{
    margin-left: 0;
    background: url("https://images.pexels.com/photos/259200/pexels-photo-259200.jpeg?cs=srgb&dl=pexels-pixabay-259200.jpg&fm=jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.nav-main{
    width: 100%;
    height: 60px;
    background-color:#FFF;
    display: flex;
    flex-wrap: wrap;
    z-index : 1000;
    position:fixed;
    top:0;

}
.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background:url("images/customer/menu.png");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    cursor:pointer;

}
.nav-main ul{
    display:flex;
    flex-wrap:wrap;
    padding-left: 15px;
    margin-top: 3px;
}
.nav-main ul li{
    list-style: none;
    line-height: 60px;
}
.nav-main ul li a{
    display : block;
    padding:0 10px;
    height : 100%;
    text-transform:uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
}
.nav-main ul li a:hover{
    opacity: 0.7;
}
.btn-toggle-nav:hover{
    opacity: 0.5;
    
}
.nav-sidebar{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    padding: 0 5px;
    background-color:#1b1b1b;
    
}
.nav-sidebar ul{
    padding-top: 35px;
    overflow:hidden;
    visibility:hidden;
   
 
 }

.nav-sidebar ul li{
    line-height: 60px;
    list-style:none;
}
.nav-sidebar ul li span,.nav-sidebar ul li a{
    display: block;
    height: 60px;
    text-decoration : none;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: arial;
    font-size: 16px;
    color:#FFF;
    white-space:nowrap;
    opacity : 0;


}
.nav-sidebar ul li a:hover{
    background-color: #222;
}
.container{
    max-width:700px;
    width:100%;
    border: 1px grey;
    margin: auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    padding-top: 70px;
}
.title{
    padding-left: 250px;
    font-weight:50;
    font-size: 27px;
    color:chocolate;
    padding-top: 0px;
}

.container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    padding-top: 10px;
    padding-right: 2px;
    width:calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height:40px;
    width:100%;
    outline:none;
    border-radius:5px;
    border:1px solid aquamarine;
    padding-left:15px;
    font-size:28px;
    border-bottom-width:2px;
    transition: all 0.3s ease;
}
.button{
    height:30px;
    width: 90px;
    margin:10px 0;
    padding-left: 93%;
    
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:rgb(120, 120, 120)
}
form .button input{
    height:100%;
    width:100%;
    outline:none;
    color:#fff;
    border:none;
    font-size:18px;
    font-weight:500;
    border-radius:5px;
    letter-spacing:1px;
    background:green;
}

form .button input:hover{
    background:linear-gradient(-135deg, #545555, #1d171f);
    transform: translateY(3px);
}
.socialmedia{
    float:right;
    list-style: none;
    font-size : 50px;
    padding-top: 200px;

}
.fab{
    padding-bottom: 8px;
    color: black;
    
}
.fab:hover{
    cursor: pointer;
    transform : translateY(7px);
    opacity : 0.7;
    color: white;
}
