.nav-main{
    width: 100%;
    height: 60px;
    background-color:#FFF;
    display: flex;
    flex-wrap: wrap;
    z-index : 1000;
    position:fixed;
    top:0;

}

.content1
{
  padding-left: 80px;

}


.content2
{
  padding-left: 80px;

}


.content3
{
  padding-left: 80px;

}


.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background:url("images/customer/menu.png");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    cursor:pointer;

}
.nav-main ul{
    display:flex;
    flex-wrap:wrap;
    padding-left: 15px;
    margin-top: 3px;
}
.nav-main ul li{
    list-style: none;
    line-height: 60px;
}
.nav-main ul li a{
    display : block;
    padding:0 10px;
    height : 100%;
    text-transform:uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
}
.nav-main ul li a:hover{
    opacity: 0.7;
}
.btn-toggle-nav:hover{
    opacity: 0.5;
    
}
.nav-sidebar{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    padding: 0 5px;
    background-color:#1b1b1b;
    
}
.nav-sidebar ul{
    padding-top: 35px;
    overflow:hidden;
    visibility:hidden;
   
 
 }

.nav-sidebar ul li{
    line-height: 60px;
    list-style:none;
}
.nav-sidebar ul li span,.nav-sidebar ul li a{
    display: block;
    height: 60px;
    text-decoration : none;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: arial;
    font-size: 16px;
    color:#FFF;
    white-space:nowrap;
    opacity : 0;


}
.nav-sidebar ul li a:hover{
    background-color: #222;
}

